<configuration>
	
	<!-- La connextion au base de donnees -->
	<appSettings>
	        <add key="ConnectionString" value="server=localhost;Trusted_Connection=true;database=Clinique_Base" />
	</appSettings>	
	
	
	<system.web>
		<!-- Le language de compilation par default -->
	    <compilation 
	         defaultLanguage="c#"
	         debug="true"	
	    />
	    <!-- Redirection en cas des erreurs -->
	    <customErrors mode="On" defaultRedirect="ErreurPage.aspx" /> 
	    
	    <!-- Page de redirection cas un utilisateur non authentifier -->
		<authentication mode="Forms">
			<forms loginUrl="admin/Login.aspx" />
		</authentication>
		<pages validateRequest="false" />
	</system.web>
	
	<!--Tous les visiteurs peuvent acceder ces paths-->
	<location path="admin/Login.aspx"> 
		<system.web> 
			<authorization> 
				<allow users="*" /> 
			</authorization> 
		</system.web> 
	</location> 	

	<!-- seule le directeur et le webmaster peuvents acceder a ces paths -->
	<location path="admin/fichier.aspx"> 
		<system.web> 
			<authorization> 
				<allow roles="Directeur, Webmaster" />
				<deny users="*" /> 
			</authorization> 
		</system.web> 
	</location>	
	
	<!-- seule les authentifiers peut acceder a ce path -->
	<location path="admin"> 
		<system.web> 
			<authorization> 
				<deny users="?" />
			</authorization> 
		</system.web> 
	</location> 
</configuration>